canvas {
    position: fixed;
    top: 0px;
    left: 0px;
}

.box {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 25px;
    background-color: lightgray;
    margin: 10px 0px;
}

.box:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}


#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 20px;
}

#help-message {
    position: fixed;
    top: 80px;
    left: 200px;
    width: 300px;
    background-color: lightgray;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid darkgray;
    padding: 10px;
}

#settings-container {
    position: fixed;
    height: 260px;
    width: 400px;
    top: 100px;
    left: 100px;
}

#settings-box {
    position: absolute;
    top: 30px;
    left: 0px;
    height: 200px;
    width: 400px;
    background-color: azure;
    border: 1px solid darkgray;
    border-top-width: 0px;
}

.tab {
    position: absolute;
    top: 0px;
    height: 30px;
    width: 100px;
    border: 1px solid darkgray;
    background-color: lightgray;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
}

.selected-tab {
    border-bottom-width: 0px;
    background-color: azure;
    border-radius: -5px;
}

.tab:hover {
    cursor:pointer
}

#point-tab {
    left: 0px;
}

#line-tab {
    left: 100px;
}

#curve-tab {
    left: 200px;
}

#animation-tab {
    left: 300px;
}

